node_modules
.next
.env
.environment
.env.local
.env.rinkeby
.env.mainnet
.env.localhost
.env.local
dist
tsconfig.tsbuildinfo
yarn-error.log
.openzeppelin
!.openzeppelin/goerli*.json
!.openzeppelin/rinkeby*.json
!.openzeppelin/mainnet*.json
packages/contracts/artifacts
packages/contracts/artifacts-ovm
packages/contracts/cache
packages/contracts/cache-ovm
packages/contracts/typechain
**/.DS_Store
