html, body {
  width: 100%;
  height: 100%;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
html,
a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}
